<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/add-user.css" />
    <title>Add User Page</title>
  </head>
  <body>
    <header>
      <div>
        <a href="/">
          <h1>NodeJs Course</h1>
        </a>
      </div>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/users/add-user">add user</a></li>
      </ul>
    </header>

    <main>
      <div>Add User Page</div>
    </main>

    <footer>Footer</footer>
  </body>
</html>
