body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

header {
  height: 60px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a8ec93;
}

header ul {
  flex-basis: 40%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

header a {
  text-decoration: none;
  color: black;
}

li {
  width: calc(100% / 3 - 20px);
  margin-right: 20px;
  height: 40px;
}

li a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #a8ec93;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li a:hover {
  background-color: #def397;
}

main {
  min-height: calc(100vh - 160px - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

main div {
  margin-bottom: 20px;
}

main ul {
  list-style: none;
  width: 300px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
}

main ul li {
  padding: 10px;
  height: 25px;
  width: 250px;
  margin-bottom: 10px;
  background-color: #a8ec93;
}

footer {
  height: 100px;
  background-color: #a8ec93;
}
